<form action="" autocomplete="off">
    <div>
        <br>
        <div>
            <div class="row">
                <div class="col">
                    <div>
                        <label for="">Forma de pago</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Ingrese la forma de pago" name="formapago" id="formapagoid">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="">Valor pendiente</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Valor pendiente" name="valorpendiente" id="valorpendienteid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>