<form action="" autocomplete="off">
    <div>
        <br>
        <div>
            <div class="row">
                <div class="col">
                    <div>
                        <label for="">Nombre</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Ingrese su primer nombre" name="primernombre" id="primernombreid">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="segundonombre">Tipo</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Ingrese su segundo nombre" name="segundonombre" id="segundonombreid">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>
                        <label for="primerapellido">Descripción</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Ingrese su primer apellido" name="primerapellido" id="primerapellidoid">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="segundoapellido">Datos adicionales</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Ingrese su segundo apellido" name="segundoapellido" id="segundoapellidoid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>