<div class="d-flex justify-content-center mt-3">
    <form action="" autocomplete="off">
        <div>
            <div class="display-6 ">
                LOGIN
            </div>
            <br>
            <div>
                <!-- area de usuario -->
                 <div>
                     <div>
                         <label for="emailusuario">Usuario</label>
                     </div>
                     <div>
                        <input class="form-control" [(ngModel)]="valorData" type="email" (ngModelChange)="mostrarNombre()" name="emailusuario" id="emailusuarioid" placeholder="Ingrese su email">
                     </div>
                     <div>
                        <label for="contraseniapassword">Contrase&ntilde;a</label>
                     </div>
                     <div>
                        <input 
                        class="form-control"
                        [(ngModel)]="passwordusuario" type="password" 
                        placeholder="Ingrese su contrase&ntilde;a"
                        name="contraseniapassword" id="contraseniapasswordid">
                     </div>
                 </div>
                 <br>
                 <div>
                    <div>
                        <input class="btn btn-primary" type="button" value="Iniciar sesi&oacute;n" (click)="mostrarNombre()">
                    </div>
                    <br>
                    <div>
                        <a href="#" (click)="eventoCambioPantalla()"> Registrarse</a>
                    </div>
                 </div>
            </div>
        </div>
    </form>
</div>