<button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#'+modalid">Editar</button>

<div class="modal fade" id="{{modalid}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Persona</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="divMensaje"></div>
      <div class="modal-body">
        <form method="post">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Nombres:</label>
            <input type="text" name="recipient-name" [(ngModel)]="dataPersona.nombres" class="form-control" id="recipient-name" required>
          </div>
          <div class="mb-3">
            <label for="recipient-lastname" class="col-form-label">Apellidos:</label>
            <input name="recipient-lastname" type="text" [(ngModel)]="dataPersona.apellidos"  class="form-control" id="recipient-lastname" required>
          </div>
          <div class="mb-3">
            <label for="recipient-birthdate" class="col-form-label">Fecha de nacimiento:</label>
            <input name="recipient-birthdate" type="date" [(ngModel)]="dataPersona.fecha_nacimiento" class="form-control" id="recipient-birthdate" required>
          </div>
          <div class="mb-3">
            <label for="recipient-genre" class="col-form-label">G&eacute;nero:</label>
            <select name="recipient-genre" type="text" [(ngModel)]="dataPersona.genero" class="form-control" id="recipient-genre" required>
              <option value="M"> Masculino</option>
              <option value="F"> Femenino</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="recipient-phone" class="col-form-label">Tel&eacute;fono:</label>
            <input name="recipient-phone" type="text" [(ngModel)]="dataPersona.telefono" class="form-control" id="recipient-phone" required>
          </div>
          <div class="mb-3">
            <label for="recipient-city" class="col-form-label">Ciudad:</label>
            <input name="recipient-city" type="text" [(ngModel)]="dataPersona.ciudad" class="form-control" id="recipient-city" required>
          </div>
          <div class="mb-3">
            <label for="recipient-leveleducation" class="col-form-label">Nivel de estudios:</label>
            <select name="recipient-leveleducation" type="text" [(ngModel)]="dataPersona.nivel_estudios" class="form-control" id="recipient-leveleducation" required>
              <option value="Maestría">Maestria</option>
              <option value="Licenciatura">Licenciatura</option>
              <option value="Doctorado">Doctorado</option>
              <option value="Ingeniería">Ingenieria</option>
            </select>
          </div>
          <div class="modal-footer">
            <input type="button" id="btnCerrarModal" class="btn btn-secondary" value="Cerrar" data-bs-dismiss="modal">
            <input type="button" id="btnGuardar" class="btn btn-primary" value="Guardar" (click)="guardar()">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>