<form action="" autocomplete="off">
    <div>
        <br>
        <div>
            <div class="row">
                <div class="col">
                    <div>
                        <label for="">Modelo</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Ingrese el modelo del auto" name="primernombre" id="primernombreid">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="">A&ntilde;o</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Ingrese el a&ntilde;o del auto" name="segundonombre" id="segundonombreid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>