<form action="" autocomplete="off">
    <div>
        <br>
        <div>
            <div class="row">
                <div class="col">
                    <div>
                        <label for="">Primer nombre</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Ingrese su primer nombre" name="primernombre" id="primernombreid">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="">Segundo nombre</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Ingrese su segundo nombre" name="segundonombre" id="segundonombreid">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>
                        <label for="primerapellido">Primer apellido</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Ingrese su primer apellido" name="primerapellido" id="primerapellidoid">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="segundoapellido">Segundo apellido</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Ingrese su segundo apellido" name="segundoapellido" id="segundoapellidoid">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>
                        <label for="correo">Correo</label>
                    </div>
                    <div>
                        <input class="form-control" type="email" placeholder="Ingrese su correo" name="correo" id="correoid">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="telefono">Tel&eacute;fono</label>
                    </div>
                    <div>
                        <input class="form-control" type="email" placeholder="Ingrese su tel&eacute;fono" name="telefono" id="telefonoid">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>
                        <label for="contrasenia">Contrase&ntilde;a</label>
                    </div>
                    <div>
                        <input class="form-control" type="password" placeholder="Ingrese su contrasenia" name="contrasenia" id="contraseniaid">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="confirmaContrasenia">Confirmar Contrase&ntilde;a</label>
                    </div>
                    <div>
                        <input class="form-control" type="password" placeholder="Confirme su Contrase&ntilde;a" name="confirmaContrasenia" id="confirmaContraseniaid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>