<div class="d-flex justify-content-center mt-3">
    <form action="" autocomplete="off">
        <div>
            <div class="display-6">
                Registro de usuario
            </div>
            <br>
            <div>
                <div>
                    <div>
                        <label for="">Primer nombre</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Ingrese su primer nombre" name="primernombre" id="primernombreid">
                    </div>
                </div>
                <div>
                    <div>
                        <label for="">Segundo nombre</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Ingrese su segundo nombre" name="segundonombre" id="segundonombreid">
                    </div>
                </div>
                <div>
                    <div>
                        <label for="primerapellido">Primer apellido</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Ingrese su primer apellido" name="primerapellido" id="primerapellidoid">
                    </div>
                </div>
                <div>
                    <div>
                        <label for="segundoapellido">Segundo apellido</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Ingrese su segundo apellido" name="segundoapellido" id="segundoapellidoid">
                    </div>
                </div>
                <div>
                    <div>
                        <label for="correo">Correo</label>
                    </div>
                    <div>
                        <input class="form-control" type="email" placeholder="Ingrese su correo" name="correo" id="correoid">
                    </div>
                </div>
                <div>
                    <div>
                        <label for="telefono">Tel&eacute;fono</label>
                    </div>
                    <div>
                        <input class="form-control" type="email" placeholder="Ingrese su tel&eacute;fono" name="telefono" id="telefonoid">
                    </div>
                </div>
                <div>
                    <div>
                        <label for="contrasenia">Contrase&ntilde;a</label>
                    </div>
                    <div>
                        <input class="form-control" type="password" placeholder="Ingrese su contrasenia" name="contrasenia" id="contraseniaid">
                    </div>
                </div>
                <div>
                    <div>
                        <label for="confirmaContrasenia">Confirmar Contrase&ntilde;a</label>
                    </div>
                    <div>
                        <input class="form-control" type="password" placeholder="Confirme su Contrase&ntilde;a" name="confirmaContrasenia" id="confirmaContraseniaid">
                    </div>
                </div>
                <br>
                 <div>
                    <div>
                        <input class="btn btn-primary" type="button" value="Completar registro">
                    </div>
                    <br>
                    <div>
                        <a href="#" (click)="volverInicio()"> Volver a inicio de sesi&oacute;n</a>
                    </div>
                 </div>
            </div>
        </div>
    </form>
</div>
