<form action="" autocomplete="off">
    <div>
        <br>
        <div>
            <div class="row">
                <div class="col">
                    <div>
                        <label for="">Nombres del garante</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Ingrese la forma de pago" name="nombregarante" id="nombregaranteid">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="">Relaci&oacute;n del garante</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Relaci&oacute;n del garante" name="relaciongarante" id="relaciongaranteid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>