<form [formGroup]="frmGroupDatosGaranteRx" action="" autocomplete="off">
    <div>
        <br>
        <div>
            <div class="row">
                <div class="col">
                    <div>
                        <label for="">Nombres del garante</label>
                    </div>
                    <div>
                        <input formControlName="nombreGarante" class="form-control" type="text" placeholder="Ingrese la forma de pago" name="nombregarante" id="nombregaranteid">
                        <div *ngIf="frmGroupDatosGaranteRx.get('nombreGarante')?.touched && frmGroupDatosGaranteRx.get('nombreGarante')?.errors?.['required']"> ESTE VALOR ES REQUERIDO</div>

        <div *ngIf="frmGroupDatosGaranteRx.get('nombreGarante')?.touched && frmGroupDatosGaranteRx.get('nombreGarante')?.errors?.['minlength']"> LA LONGITUD MINIMA ES DE {{ frmGroupDatosGaranteRx.get('nombreGarante')?.errors?.['minlength']?.requiredLength }}</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="">Relaci&oacute;n del garante</label>
                    </div>
                    <div>
                        <input formControlName="relaciongarante" class="form-control" type="text" placeholder="Relaci&oacute;n del garante" name="relaciongarante" id="relaciongaranteid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>